.header {
	position: fixed;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 60px;
	padding: 0 44px;
	font-size: 16px;
	background-color: #000;
	z-index: 998;
	margin: 0;
}

.header .header-logo {
	width: 120px;
}

.app-nav {
	color: #ffffff;
	height: 20px;
	margin-top: 20px;
	position: fixed;
	z-index: 1000;
}

.pagination-item-label {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}
.pagination-item--next .pagination-item-label {
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: flex-end;
}
.pagination-item-label svg {
	width: 12px !important;
}
.app-nav li {
	display: block;
	margin: 0 1rem;
	padding: 0;
	font-size: 16px;
	line-height: 20px;
	position: relative;
}

.app-nav ul li ul {
	width: 100px;
	color: #333;
}

.sidebar {
	padding: 20px 0 0;
}

.sidebar {
	top: 60px;
}

.markdown-section {
	max-width: 80%;
}

main {
	width: 100%;
}

.app-nav::after {
	content: '';
	position: absolute;
	top: 8px;
	right: -8px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #fff;
}

.search input {
	height: 36px;
}

.sidebar-toggle span {
	background-color: #42b983;
}

@media screen and (max-width: 768px) {
	.header {
		height: 60px;
		padding: 0 20px;
	}
	body.close>.app-nav {
		display: flex;
	}
	.header a {
		padding: 0;
		margin: 0;
	}
	.header .header-logo {
		width: 120px;
	}
	.content {
		padding-top: 60px;
	}
	.markdown-section {
		max-width: 90%;
	}
}